* {
    margin: 0;
    padding: 0;
}

.encabezado{
    background-color: lightblue;
    display: flex;
}
.botonsuperior{
    text-decoration: none;
    display: flex ;
    flex-direction: row;
    justify-self: end;
    font-stretch: expanded;
}
body{
    background-color: gray;
}
.blanco{
    background-color: transparent;
}
.top{
    background-color: white;
    text-align: center;

}
.medio{
    background-color: white;
    text-align: center;
    position: absolute;
    left: 20%;
    right: 20%;
    margin: 0;
    padding-top: 0;
}
.texto1{
    text-align: left;
    padding: 12px;
}
.boton{
    width: 300px;
}